@import '../../sass/index.scss';

button {
  display: inline;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  font-size: clamp(10px, 3vw, 14px);
  border-radius: 10px;
  border: none;
  color: $color-primary;
  background-color: $color-secondary;
}
