@import '../../sass/index.scss';

.header {
  @include flex(row, space-between, center);
  height: 68px;
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
  img {
    height: 60%;
    @media screen and (max-width: 700px) {
      height: 40px;
    }
  }
}
