@import '../../sass/index.scss';

.lodging {
  &_content {
    @include flex(row, space-between, flex-start);
    color: $color-secondary;
    width: 95%;
    max-width: 1240px;
    margin: 0 auto;
    @media screen and (max-width: 650px) {
      @include flex(column, space-between, flex-start);
      gap: 10px;
    }
    &_infos {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-weight: 500;
        font-size: clamp(18px, 3vw, 36px);
      }
      p {
        font-weight: 500;
        font-size: clamp(14px, 3vw, 18px);
      }
      button {
        display: inline;
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
        font-size: clamp(10px, 3vw, 14px);
        border-radius: 10px;
        border: none;
        color: $color-primary;
        background-color: $color-secondary;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
    &_host {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media screen and (max-width: 650px) {
        width: 100%;
        @include flex(row-reverse, space-between, center);
      }
      div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0 10px;
        @media screen and (max-width: 500px) {
          gap: 0 5px;
        }
      }
      &_name {
        align-self: center;
        flex-direction: column;
      }
      img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
      &_stars {
        display: flex;
        gap: 10px;
        img {
          width: 24.75px;
          height: 24px;
          @media screen and (max-width: 650px) {
            width: 13.41px;
            height: 13px;
          }
        }
      }
    }
  }
}
